.fondo{
    background-color: #FCF3CF ;
}
.parrafo{
text-align: center;
}

.sinop{
    text-align: center;
    
color: rgb(0, 0, 0);
}

.puta{
    text-align: center;
    font-size: 20px;
}

.zeus{
    size: 250px;
    width: 250px;
}
.jeje{
    text-align: center;
}
.letra{
    font-size: 25px;
}